<section class="section-advantages">
    <div class="container">
        <h2 class="title-decoration">Преимущества упаковки в Universal Pack</h2>

        <div class="advantages-grid swiper">
            <div class="swiper-wrapper">
                <div class="advantage-item swiper-slide">
                    <div class="advantage-item__icon">
                        <img src="assets/img/icons/advantages/Опыт работы.svg" alt="">
                    </div>
                    <div class="advantage-item__text-block">
                        <h3 class="advantage-item__title">Опыт работы</h3>
                        <p class="advantage-item__text">Большой опыт работы на рынке, более 10 лет</p>
                    </div>
                </div>

                <div class="advantage-item swiper-slide">
                    <div class="advantage-item__icon">
                        <img src="assets/img/icons/advantages/Свое производство.svg" alt="">
                    </div>
                    <div class="advantage-item__text-block">
                        <h3 class="advantage-item__title">Свое производство</h3>
                        <p class="advantage-item__text">Собственное производство, с использованием профессионального оборудования</p>
                    </div>
                </div>


                <div class="advantage-item swiper-slide">
                    <div class="advantage-item__icon">
                        <img src="assets/img/icons/advantages/Профессионализм.svg" alt="">
                    </div>
                    <div class="advantage-item__text-block">
                        <h3 class="advantage-item__title">Профессионализм</h3>
                        <p class="advantage-item__text">У нас работают только высококвалифицированные специалисты</p>
                    </div>
                </div>

                <div class="advantage-item swiper-slide">
                    <div class="advantage-item__icon">
                        <img src="assets/img/icons/advantages/Качество.svg" alt="">
                    </div>
                    <div class="advantage-item__text-block">
                        <h3 class="advantage-item__title">Качество</h3>
                        <p class="advantage-item__text">Качественные и сертифицированные материалы от надежных поставщиков</p>
                    </div>
                </div>

                

                <div class="advantage-item swiper-slide">
                    <div class="advantage-item__icon">
                        <img src="assets/img/icons/advantages/Любая сложность.svg" alt="">
                    </div>
                    <div class="advantage-item__text-block">
                        <h3 class="advantage-item__title">Любая сложность</h3>
                        <p class="advantage-item__text">Реализация сложных проектов в соответствии с ГОСТ</p>
                    </div>
                </div>

                <div class="advantage-item swiper-slide">
                    <div class="advantage-item__icon">
                        <img src="assets/img/icons/advantages/Доставка.svg" alt="">
                    </div>
                    <div class="advantage-item__text-block">
                        <h3 class="advantage-item__title">Доставка</h3>
                        <p class="advantage-item__text">Доставка по всей России и зарубеж</p>
                    </div>
                </div>

                <div class="advantage-item swiper-slide">
                    <div class="advantage-item__icon">
                        <img src="assets/img/icons/advantages/Сохранность.svg" alt="">
                    </div>
                    <div class="advantage-item__text-block">
                        <h3 class="advantage-item__title">Сохранность</h3>
                        <p class="advantage-item__text">Сохранность груза на всех этапах</p>
                    </div>
                </div>

                <div class="advantage-item swiper-slide">
                    <div class="advantage-item__icon">
                        <img src="assets/img/icons/advantages/Лучшая цена.svg" alt="">
                    </div>
                    <div class="advantage-item__text-block">
                        <h3 class="advantage-item__title">Лучшая цена</h3>
                        <p class="advantage-item__text">Гарантия лучшей цены на все услуги</p>
                    </div>
                </div>
            </div>
            <div class="pagination"></div>
        </div>
    </div>
</section>