<section class="form-section car">
    <div class="container">
        <div class="car-form-block">
            <div class="car-form-block__img-block">
                <img src="assets/img/forms/car.png" alt="">
            </div>

            <div class="car-form-block__form-block">
                <h2>Упаковка с выездом к заказчику!</h2>
                <p>наши специалисты по упаковке грузов выезжают к клиенту или на
                    место расположения груза со всеми необходимыми материалами и
                    инструментами и оперативно упаковывают ваш груз</p>

                <form class="page-form">
                    <div class="page-form__input-group">
                        <div class="page-form__input-wrap">
                            <input type="text" class="page-form__input" name="name" placeholder="Ваше имя*" required>
                        </div>
                        <div class="page-form__input-wrap">
                            <input type="tel" class="page-form__input" name="phone" placeholder="Ваш телефон*" required>
                        </div>
                        <div class="page-form__submit-wrap">
                            <button class="green-btn">отправить заявку</button>
                        </div>
                    </div>

                    <div class="page-form__privacy-block">
                        <label  class="form-approve">
                            <input type="checkbox" name="approve" checked class="form-approve__input-checkbox" data-approve=".green-btn">
                            <span class="form-approve__visible-cb"></span>
                            <span class="form-approve__text text-3">Я согласен на обработку персональных данных</span>
                        </label>


                        <a href="privacy-politic.html" class="page-form__privacy-link" target="_blank">Политика конфиденциальности</a>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>