<section class="section-deep-services">
    <img src="assets/img/deep-services/bg.png" alt="" class="section-deep-services__bg">
    <div class="container">
        <h2 class="title-decoration">Дополнительные услуги</h2>

        <div class="deep-services">
            <div class="deep-service">
                <div class="deep-service__icon-block">
                    <img src="assets/img/icons/deep-services/Все виды транспортировки.svg" alt="">
                </div>
                <div class="deep-service__text-block">
                    <h3 class="deep-service__title">Все виды транспортировки</h3>
                    <p class="deep-service__text">Описание услуги описание услугиописание услуги описание услуги описание услуги описание услуги описание услугиописание услуги описание услуги описание услуги
                        услуги описание услуги описание услуги</p>
                </div>
            </div>

            <div class="deep-service">
                <div class="deep-service__icon-block">
                    <img src="assets/img/icons/deep-services/Переезд производства.svg" alt="">
                </div>
                <div class="deep-service__text-block">
                    <h3 class="deep-service__title">Переезд производства</h3>
                    <p class="deep-service__text">Описание услуги описание услугиописание услуги описание услуги описание услуги описание услуги описание услугиописание услуги описание услуги описание услуги
                        услуги описание услуги описание услуги</p>
                </div>
            </div>

            <div class="deep-service">
                <div class="deep-service__icon-block">
                    <img src="assets/img/icons/deep-services/Такелажные работы.svg" alt="">
                </div>
                <div class="deep-service__text-block">
                    <h3 class="deep-service__title">Такелажные работы</h3>
                    <p class="deep-service__text">Описание услуги описание услугиописание услуги описание услуги описание услуги описание услуги описание услугиописание услуги описание услуги описание услуги
                        услуги описание услуги описание услуги</p>
                </div>
            </div>


            <div class="deep-service">
                <div class="deep-service__icon-block">
                    <img src="assets/img/icons/deep-services/Хранение груза.svg" alt="">
                </div>
                <div class="deep-service__text-block">
                    <h3 class="deep-service__title">Хранение груза</h3>
                    <p class="deep-service__text">Описание услуги описание услугиописание услуги описание услуги описание услуги описание услуги описание услугиописание услуги описание услуги описание услуги
                        услуги описание услуги описание услуги</p>
                </div>
            </div>


            <div class="deep-service">
                <div class="deep-service__icon-block">
                    <img src="assets/img/icons/deep-services/Изготовление разборных ящиков и ложементов.svg" alt="">
                </div>
                <div class="deep-service__text-block">
                    <h3 class="deep-service__title">Изготовление разборных ящиков и ложементов</h3>
                    <p class="deep-service__text">Описание услуги описание услугиописание услуги описание услуги описание услуги описание услуги описание услугиописание </p>
                </div>
            </div>


            <div class="deep-service">
                <div class="deep-service__icon-block">
                    <img src="assets/img/icons/deep-services/Фумигационная обработка деревянной тары по стандартам ISPM 15.svg" alt="">
                </div>
                <div class="deep-service__text-block">
                    <h3 class="deep-service__title">Фумигационная обработка деревянной тары по стандартам ISPM 15</h3>
                    <p class="deep-service__text">Описание услуги описание услугиописание услуги описание услуги описание услуги  </p>
                </div>
            </div>
        </div>

    </div>
</section>