<section class="our-client-section">
    <div class="our-client-section__title-container">
        <h2 class="title-decoration container">Наши клиенты</h2>
    </div>
    

    <div class="our-client-section__slider-block">
        <button class="clients-nav clients-nav-prev">
            <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3333 2.33333L10 0L0 10L10 20L12.3333 17.6667L4.66667 10L12.3333 2.33333Z" fill="#272525" />
            </svg>
        </button>
        
        <div class="container">
            <div class="swiper clients-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/img/clients/bashneft.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/lukoil.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/tatneft.png" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="assets/img/clients/bashneft.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/lukoil.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/tatneft.png" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="assets/img/clients/bashneft.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/lukoil.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/tatneft.png" alt="">
                    </div>
                    
                </div>
            </div>
        </div>

        <button class="clients-nav clients-nav-next">
            <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.666666 2.33333L3 0L13 10L3 20L0.666666 17.6667L8.33333 10L0.666666 2.33333Z" fill="#272525" />
              </svg>
        </button>
    </div>
</section>