<section class="portfolio-section">
    <div class="container">
        <h2 class="title-decoration">Наши последние работы</h2>


        <div class="portfolio-nav swiper">
            <div class="swiper-wrapper">
                <button class="swiper-slide portfolio-toggler portfolio-toggler-active" data-gallery="Деревянная упаковка">Деревянная<br/>упаковка</button>
                <button class="swiper-slide portfolio-toggler" data-gallery="Вакуумная упаковка">Вакуумная <br/>упаковка</button>
                <button class="swiper-slide portfolio-toggler" data-gallery="Морская упаковка">Морская<br/> упаковка</button>
                <button class="swiper-slide portfolio-toggler" data-gallery="Термо упаковка">Термо<br/>упаковка</button>
                <button class="swiper-slide portfolio-toggler" data-gallery="Промышленная упаковка">Промышленная<br/> упаковка</button>
                <button class="swiper-slide portfolio-toggler" data-gallery="Укрытие и консервация строительных объектов">Укрытие и консервация<br/>строительных объектов</button>                                
            </div>
        </div>
    </div>
    <div class="swiper portfolio">
        <div class="swiper-wrapper">
            <!--Деревянная упаковка-->
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item active" data-fancybox="gallery-1" data-gallery="Деревянная упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item active" data-fancybox="gallery-1" data-gallery="Деревянная упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item active" data-fancybox="gallery-1" data-gallery="Деревянная упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item active" data-fancybox="gallery-1" data-gallery="Деревянная упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item active" data-fancybox="gallery-1" data-gallery="Деревянная упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item active" data-fancybox="gallery-1" data-gallery="Деревянная упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item active" data-fancybox="gallery-1" data-gallery="Деревянная упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item active" data-fancybox="gallery-1" data-gallery="Деревянная упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>


            <!--Вакуумная упаковка-->
            <a href="assets/img/portfolio/test-portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-2" data-gallery="Вакуумная упаковка">
                <img src="assets/img/portfolio/test-portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-2" data-gallery="Вакуумная упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-2" data-gallery="Вакуумная упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-2" data-gallery="Вакуумная упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-2" data-gallery="Вакуумная упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-2" data-gallery="Вакуумная упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-2" data-gallery="Вакуумная упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-2" data-gallery="Вакуумная упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>


            <!--Морская упаковка-->
            <a href="assets/img/portfolio/test-portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-3" data-gallery="Морская упаковка">
                <img src="assets/img/portfolio/test-portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-3" data-gallery="Морская упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-3" data-gallery="Морская упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-3" data-gallery="Морская упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-3" data-gallery="Морская упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-3" data-gallery="Морская упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-3" data-gallery="Морская упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-3" data-gallery="Морская упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>

            <!--Термо упаковка-->
            <a href="assets/img/portfolio/test-portfolio/3.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-4" data-gallery="Термо упаковка">
                <img src="assets/img/portfolio/test-portfolio/3.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-4" data-gallery="Термо упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-4" data-gallery="Термо упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-4" data-gallery="Термо упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-4" data-gallery="Термо упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-4" data-gallery="Термо упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-4" data-gallery="Термо упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-4" data-gallery="Термо упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>



            <!--Промышленная упаковка-->
            <a href="assets/img/portfolio/test-portfolio/4.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-5" data-gallery="Промышленная упаковка">
                <img src="assets/img/portfolio/test-portfolio/4.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-5" data-gallery="Промышленная упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-5" data-gallery="Промышленная упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-5" data-gallery="Промышленная упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-5" data-gallery="Промышленная упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-5" data-gallery="Промышленная упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-5" data-gallery="Промышленная упаковка">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-5" data-gallery="Промышленная упаковка">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>

            <!--Укрытие и консервация строительных объектов-->
            <a href="assets/img/portfolio/test-portfolio/5.png" class="swiper-slide portfolio__item" data-fancybox="gallery-6" data-gallery="Укрытие и консервация строительных объектов">
                <img src="assets/img/portfolio/test-portfolio/5.png" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-6" data-gallery="Укрытие и консервация строительных объектов">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-6" data-gallery="Укрытие и консервация строительных объектов">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-6" data-gallery="Укрытие и консервация строительных объектов">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-6" data-gallery="Укрытие и консервация строительных объектов">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-6" data-gallery="Укрытие и консервация строительных объектов">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/1.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-6" data-gallery="Укрытие и консервация строительных объектов">
                <img src="assets/img/portfolio/1.jpg" alt="">    
            </a>
            <a href="assets/img/portfolio/2.jpg" class="swiper-slide portfolio__item" data-fancybox="gallery-6" data-gallery="Укрытие и консервация строительных объектов">
                <img src="assets/img/portfolio/2.jpg" alt="">    
            </a>

    </div>
    

    <div class="portfolio-link-wrap">
        <button class="circle-arrow-btn green">
            <span class="circle-arrow-btn__circle">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="circle-arrow-btn__arrow">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.34322 0.92888L8.70718 7.29284C9.0977 7.68336 9.0977 8.31653 8.70718 8.70705L2.34322 15.071C1.95269 15.4615 1.31953 15.4615 0.929002 15.071C0.538477 14.6805 0.538477 14.0473 0.929002 13.6568L6.58586 7.99995L0.929002 2.34309C0.538477 1.95257 0.538477 1.3194 0.929002 0.92888C1.31953 0.538355 1.95269 0.538355 2.34322 0.92888Z" fill="white" />
                </svg>
                <span class="circle-arrow-btn__arrow-line"></span>
            </span>
            <span class="circle-arrow-btn__text">Все работы</span>
        </button>
    </div>

</section>