<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Краткое описание страницы"/>
    <title>@@title</title>
    <link rel="shortcut icon" href="assets/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/fonts.min.css">    
    <link rel="stylesheet" href="assets/css/swiper.min.css">     
    <link rel="stylesheet" href="assets/css/fancybox.min.css">     
    <link rel="stylesheet" href="assets/css/hystmodal.min.css">     
    <link rel="stylesheet" href="assets/css/main.min.css">     
    
</head>
<body>