@font-face {
    font-family: 'Poiret One';
    src: url('../fonts/Poiret-One/PoiretOne-Regular.eot');
    src: local('Poiret One'), local('PoiretOne-Regular'),
        url('../fonts/Poiret-One/PoiretOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poiret-One/PoiretOne-Regular.woff2') format('woff2'),
        url('../fonts/Poiret-One/PoiretOne-Regular.woff') format('woff'),
        url('../fonts/Poiret-One/PoiretOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

