.circle-arrow-btn{
    padding-left: 70px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.circle-arrow-btn__text{
    color: inherit;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;   
    color: inherit;
    position: relative;
    z-index: 10;
    @include transition;
}

.circle-arrow-btn__arrow{
    @include transition;

    
}

.circle-arrow-btn__circle{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
    
    @include transition;
}
.circle-arrow-btn__arrow{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    @include transition;
}

.circle-arrow-btn.green{
    color: var(--green);
    .circle-arrow-btn__circle{
        background-color: var(--green);
    }
}

.circle-arrow-btn.red{
    color: var(--red);
    .circle-arrow-btn__circle{
        background-color: var(--red);
    }
}


.circle-arrow-btn__arrow-line{
    position: absolute;
    opacity: 0;
    left: 26px;
    top: 50%;
    transform: translate(0, -50%);
    width: 0px;
    height: 2px;
    background-color: #fff;
    @include transition;
}

.circle-arrow-btn:hover{
    .circle-arrow-btn__circle{
        width: 100%;
    }
    .circle-arrow-btn__arrow-line{
        width: 16px;
        opacity: 1;
    }

    .circle-arrow-btn__text{
        color: #fff;
    }

    .circle-arrow-btn__arrow{
        transform: translate(16px, -50%);
    }
}


.green-btn{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--white);
    padding: 18px 45px;
    border-radius: 50px;
    text-align: center;


    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    background: var(--green);


    &:hover{
        background: #008f4f;
    }
}

.green-btn:disabled{
    background: #666;
    cursor: not-allowed;
}

.btn-outline-red{
    border-radius: 50px;
    border: 1px solid var(--red);
    padding: 18px 34px;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--red);

    text-align: center;

    &:hover{
        color: #fff;
        background-color: var(--red);
    }
}

