.section-advantages{
    h2{
        margin-bottom: 32px;

        @include calculateResponsiveProperty(1024px, 1920px, 32px, 80px, margin-bottom);
    }
}

.advantages-grid.swiper{
    

    .swiper-wrapper{
        @media (min-width: 1024px){
            display: grid;
            grid-column-gap: 30px;
            grid-row-gap: 60px;
            grid-template-columns: repeat(4, 1fr);
            transform: translate(0, 0) !important;
            max-width: 100% !important;
        }
    }

    .pagination{
        display: flex;
        justify-content: center;
        position: static;
        margin-top: 16px;
        @media (min-width: 1024px){
            display: none;
        }
    }
    .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
        background-color: var(--green);
    }
}


.advantage-item.swiper-slide{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    padding-bottom: 16px;
    position: relative;
    @media (min-width: 1024px){
        margin: 0 !important;
        width: auto !important;
    }

    &::before{
        content: "";
        position: absolute;
        display: block;
        left: -15px; 
        bottom: 0;
        width: 1px;
        height: 48px;
        background-color: #000;
        opacity: 0;
    }

    &:not(:nth-child(4n + 1)){
        &::before{
            

            @media (min-width: 1024px){
                opacity: 1;
            }
        }
    }

    
}

.advantage-item__icon{
    width: 100%;
    max-width: 100px;

    @include calculateResponsiveProperty(1024px, 1920px, 100px, 150px, max-width);


    img{
        width: 100%;
        height: auto;
    }
}


.advantage-item__text-block{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    text-align: center;
}

.advantage-item__title{
    color: var(--red);
}

.advantage-item__text{
    color: #000;
    font-weight: 400;
}